<div class= "wrapper">
  <div class="container">
  <%= render 'shared/banner' %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
    <h3>Le Concept</h3>
        <p>Accedez à un coin caché de la cave de votre restaurant via une autre carte des vins. Cette carte est élaborée par le restauranteur et constituéepar  des particuliers vous permet d'acceder aux bons vins et aux meilleurs tarifs</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
      </div>
    <h3>Vous aussi, constituez cette carte</h3>
        <p>Participez à la constitution de ce coin de cave du restaurateur, en gagnant vous aussi une commission.</p>
      </div>
    </div>
</div>
