<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>

<div class="container">
  <h1 class="text-center"> Les restaurants parteanires </h1>
  <div class="card">
    <div class="card-body">
      <div class="card-picture" style="background-image: https://c2.staticflickr.com/8/7754/26463942303_6d2b11698c_c.jpg" height:300px; wide:400px; >
        <div class="card-likes">
          <ul class="list-inline">
          <li><i class="fa fa-heart"></i> 140 </li>
           <li><i class="fa fa-eye"></i> 167 </li>
          </ul>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
