<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= restaurant[:name] %>
  <%= restaurant[:stars] %>
    <p>vous propose: L'abeille de Fieuzal: 15euros reste 6 bouteilles</p>
  <p>a besoin de: l'Orangerie de Carignan x15 bouteilles</p>

  </li>
<% end %>
</ul>
